# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled files
*.gst
*.gst.info
*.bh
*.map

# Compiled libraries
*.library

# Executables
NetConnect/Controller/src/NetConnect
NetConnect/Prefs/src/NetConnectPrefs
Prefs/src/AmiTCPConfig

# Other
*.uaem
.settings
.project
.cproject
**/Debug/
