# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled files
*.gst
*.gst.info
*.bh
*.map

# Compiled libraries
*.library

# Executables
Controller/src/NetConnect
Prefs/src/NetConnectPrefs

# Other
*.uaem
.settings
.project
.cproject
**/Debug/
