# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled files
*.gst
*.gst.info
*.bh

# Compiled libraries
*.libraray

# Executables
NetConnect/Controller/src/NetConnect
NetConnect/Prefs/src/NetConnectPrefs
Prefs/src/AmiTCPConfig

# Other
*.uaem
.settings
.project
.cproject
**/Debug/
